
<div class="col-sm-4 col-sm-pull-8">
    <form name="loginForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" autofocus="true"  ng-model="login.username" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"  ng-model="login.password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="login.doLogin(login.username, login.password)">Log In</button>
        </div>
    </form>
    <p ng-if="login.showError" style="color: red;">* {{login.errorMsg}}</p>
</div>