<div class="col-sm-4 col-sm-pull-8">
    <form name="loginForm" novalidate ng-if="!registration.showConfirmation">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="email" class="form-control" placeholder="Email" autofocus="true" ng-model="registration.email" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="registration.psw" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="registration.doRegister(registration.email, registration.psw)">Registrati</button>
        </div>
    </form>

    <p ng-if="registration.showError" style="color:red">* {{registration.errorMsg}}</p>

    <h2 ng-if="!registration.showError && registration.showConfirmation">
        La registrazione è andata a buon fine, tra poco verrai reindirizzato alla pagina di login
    </h2>
</div>